<html>
<head>
<title>
    <%=title %>
</title>
<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<%-style %>
<body>
    <%- include('_header'); %>

    <%-body %>
  
  <%- script %>
  <%-include('_footer'); %>



</body>






</html>